.footer {
  padding: 80px 0;
  background-color: #1c1c1c;
  &--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__call span {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
    margin-left: 30px;
  }
  &__call span a {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 8px;
  }
  &__list li {
    margin-top: 14px;
  }
  &__list li a {
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    opacity: 0.8;
    transition: all 0.4s ease-in;
    &:hover {
      cursor: pointer;
      color: #f6762c;
    }
    &:active {
      color: maroon;
    }
  }
  &__caption {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
  }
  &__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 55px;
  }
  &__social div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .footer{
    padding: 20px 10px;
    &--container{
      text-align: center;
      justify-content: center;
      flex-direction: column;
    }
    &__list {
      display: none;
    }
    &__list h2 {
      display: none;
    }
    &__caption{
      margin-top: 30px;
    }
    &__social {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
