.menu{
  padding: 100px 20px;
  background-color: #1C1C1C;
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  &__list_item{
    width: 260px;
    height: 320px;
    background: #312F30;
    border-radius: 10px;
  }
  &__wrap{
    padding: 10px 20px;
  }
  &__caption{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
  }
  &__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    max-width: 240px;
    margin-top: 10px;
  }
}

@media only screen and (max-width:1150px) {
  .menu{
    &__list{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
    }
  }
}
@media only screen and (max-width:1150px) {
  .menu{
    &__list_item{
      width: 200px;
      height: 250px;
      background: #312F30;
      border-radius: 10px;
    }
    &__list_item img {
      width: 200px;
    }
    &__caption{
      font-size: 15px;
    }
    &__description{
      font-size: 15px;
      line-height: 20px;
      max-width: 200px;
      margin-top: 10px;
    }
  }
}