.pizza {
  padding: 100px 0;
  background-color: #1c1c1c;

  &__card {
    max-width: 500px;
    padding: 20px 50px;
    background-image: url(../images/XXXL.webp);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid chocolate;
  }
  &__caption {
    font-weight: 500;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  &__input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__input input {
    padding: 5px 10px;
    width: 300px;
    outline: none;
    margin-top: 10px;
  }
  &__drop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  &__drop h2 {
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
  }
  &__radius {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__radius h2 {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
  }

&__title {
  margin-left: 40px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-top: 50px;
}
&__check label {
  margin-left: 40px;
  color: #ffffff;
  display: block;
  gap: 50px;
}
&__wrapper {
  padding: 20px;
  width: 500px;
  background-color: white;
  display: none;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid chocolate;
}
&__wrapper hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
&__wrapp_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
&__btn {
  padding: 5px 15px;
  border-color: coral;
  background-color: gold;
  transition: all 0.4s ease-in;
  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
  }
  &:active {
    background-color: maroon;
  }
}
}
@media only screen and (max-width: 450px) {
  .pizza {
    &__card {
      max-width: 500px;
      padding: 20px 50px;
      background-image: url(../images/XXXL.webp);
      background-position: center left;
      background-repeat: no-repeat;
      background-size: cover;
      border: 1px solid chocolate;
    }
    &__caption {
      font-size: 20px;
    }
    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__input input {
      padding: 5px 10px;
      width: 200px;
      outline: none;
      margin-top: 10px;
    }
    &__drop {
      margin-top: 30px;
      gap: 3px;
    }
    &__drop h2 {
      font-size: 18px;
    }
    &__radius {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
    &__radius h2 {
      font-size: 18px;
    }
    &__radius span {
      width: 30px;
      height: 30px;
    }
    &__radius p {
      font-size: 10px;
    }
    &__title {
      font-size: 18px;
    }
    &__check label {
      margin-left: 53px;
      color: #ffffff;
      display: block;
      gap: 50px;
    }
    &__wrapper hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__wrapp_block {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
    }
    &__btn {
      padding: 5px 15px;
      border-color: coral;
      background-color: gold;
      transition: all 0.4s ease-in;
      &:hover {
        cursor: pointer;
        background-color: transparent;
        color: #ffffff;
      }
      &:active {
        background-color: maroon;
      }
    }
  }
}

.add{
  display: flex;
}